@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

nav > ul {
    display: flex;
    /* flex-direction: row; */
    list-style: none;
    justify-content: center;
}
nav > ul > li {
    margin-left: 2em;
    margin-right: 2em;
}

main {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
}